.bookFeed {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.book {
    width: 467px;
    border-style: groove;
}

.book img {
    width: inherit;
    height: 350px; 
}

.book h3 {
    margin: 5px; 
    color: black
}

.book h5 {
    margin: 5px; 
    color: green;
}

.book h4 {
    margin: 5px; 
    color: chocolate;
}